@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo cuadriculado solo cuando está en modo edición */
.bg-grid {
  background-image: linear-gradient(#ddd 1px, transparent 1px),
    linear-gradient(90deg, #ddd 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Estilo de los bloques editables */
[contenteditable="true"] {
  outline: 2px dashed #4ade80;
  outline-offset: 2px;
  cursor: text;
  padding: 2px;
  border-radius: 4px;
}

/* Elementos movibles */
.draggable {
  position: absolute;
  cursor: move;
}
